{% extends 'shop/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
    <h1>Kategorijos</h1>
    {% for category in object_list %}
        <div class="row">
            <div class="col-md-3 offset-md-2">
                {{ category.name }}
                {% for subcategory in category.subcategories.all %}
                    <a href="{% url 'shop:category_subcategory' category.id %}">
                        {% if subcategory.image %}
                            <img width="500px" src="{{ subcategory.image.url }}">
                        {% endif %}
                    </a>
                {% endfor %}

            </div>
        </div>
    {% endfor %}
{% endblock %}
</body>
</html>