{% extends 'shop/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block body %}
        <h1 class="text-center">Prekių katalogas</h1>
        <div class="card-group">
        {% for category in category_list %}
<div class="card " style="width: 18rem;">
<a href="{% url 'shop:category_subcategory' category.id %}"><img class="card-img-top" src="{{ category.image.url }}" alt="Card image cap"></a>

  <div class="card-body">
    <h5 class="card-title">{{ category.name }} </h5>
  </div>
</div>
        {% endfor %}
        </div>
    {% endblock %}
</body>
</html>


