{% extends 'shop/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>



<body>
    {% block body %}
                <h1 class="text-center">Prekių katalogas</h1>
        <div class="card-group">
        {% for sub in  category.all %}
            <div class="card " style="width: 18rem;">
<a href="{% url 'shop:subcategoryProducts' sub.id %}"><img class="card-img-top" src="{{ sub.image.url }}" alt="Card image cap"></a>

  <div class="card-body">
    <h5 class="card-title">{{ sub.name }} </h5>
  </div>
</div>
        {% endfor %}
        </div>
    {% endblock %}
</body>
</html>