{% extends 'shop/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>



<body>
    {% block body %}
        {% for sub in  category.all %}
            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <a href="##">
                        <img width="500px" src="{{ sub.image.url }}">
                    </a>

                </div>
            </div>
        {% endfor %}
    {% endblock %}
</body>
</html>