{% extends 'shop/base.html' %}
{% block body %}
 <form method="post">
        {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Tiekėjo pavadinimas</label>
                {{ form.name }}
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Telefono numeris</label>
                {{ form.phone_number }}
  </div>
<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">El. paštas</label>
                {{ form.email }}
  </div>
<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Adresas</label>
                {{ form.adress }}
  </div>



  <button type="submit" class="btn btn-primary">Pridėti</button>
</form>


</div>
{% endblock %}
